@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: royalblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    /* z-index: 10; */
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    /* 设置绝对定位使其脱离文档流，漂浮到input框的上方 */
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn i {
    font-size: 24px;
}
/* 取消外边框 */
.btn:focus,
.input:focus {
    outline: none;
}

/* 激活状态 变化为 */
.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(210px);
}