@font-face {
    font-family: 'iconfont';  /* Project id 2712792 */
    src: url('http://at.alicdn.com/t/font_2712792_cfcpiwri2th.woff2?t=1628591713010') format('woff2'),
         url('http://at.alicdn.com/t/font_2712792_cfcpiwri2th.woff?t=1628591713010') format('woff'),
         url('http://at.alicdn.com/t/font_2712792_cfcpiwri2th.ttf?t=1628591713010') format('truetype');
  }

.de_container {
    margin-top:20px ;
}
.crumb_wrap {
    height: 25px;
}
.crumb_wrap a {
margin-right: 10px;
}


.preview_wrap {
    width: 400px;
    height: 560px;
    /* background-color: skyblue; */
}
.preview_img {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 400px;
}

.preview_list{
    position: relative;
    height: 60px;
    margin-top: 64px;
    /* background-color: pink; */
}
.preview_list ul {
    height: 60px;
    width: 320px;
    margin: 0 auto;
}
.preview_list ul li {
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    text-align: center;
    padding: 0 2px;

}
.preview_list ul li.current {
    border: 2px solid #c81623;
}
.arrow_left,
.arrow_right {
    position: absolute;
    width: 19px;
    height: 34px;
    top: 50%;
    margin-top: -17px;

}

.arrow_left {
    left: 0;
}
.arrow_right{
    right: 0;
}

.preview_footer {
    height: 18px;
    line-height: 16px;
    margin-top: 20px;
    font-size: 12px;
    color: #666;

}

.preview_footer em:nth-of-type(2){
    margin-left: 20px;
}

.preview_footer em:nth-of-type(2)::before{
    content: "\e662";
    font-family: "iconfont";
    color:#ce313d;
    font-size: 12px;
}
.preview_footer em:nth-of-type(3){
    margin-left: 34px;
}

.preview_footer em:nth-of-type(3)::before{
    content: "\e60e";
    font-family: "iconfont";
    color:#ce313d;
    font-size: 12px;
}

.preview_footer em:nth-of-type(4){
    margin-left: 55px;
}

.preview_footer em:nth-of-type(4)::before{
    content: "\e629";
    font-family: "iconfont";
    color:#ccc;
    font-size: 12px;
}

/* 产品详情模块制作 */
.item_info_wrap {
    width: 720px;
}
.item_info_wrap .head_name h4{
    font-size: 16px;
    font-weight: 700;
    height: 33px;
    }

.news {
    height: 33px;
    color: #e12228;
}

.summary dt,
.summary dd{
    float: left;
    line-height: 36px;}
.summary dt {
    width: 70px;
    padding: 0 10px;
    text-align: justify;
    text-align-last:justify ;
    
}

/* .summary dt::after {
    content: "";
    width: 100%;
    display: inline-block;
} */

.summary_price {
    overflow: hidden;
    position: relative;
    padding: 10px;
    background-color: pink;

}
.summary_price .price {
    font-size: 24px;
    color: #e12228;
    padding: 0 3px;
}

.summary_price .price em{
    font-size: 16px;
}

.summary_price dd:nth-of-type(2) a {
    font-size: 12px;
    color: #c81623;
}

.summary_price .remark {
    position: absolute;
    right: 10px;
    top: 10px;
}
.summary_price .remark em {
    color: #1474af;
}