
@import "file:///C:/Users/86176/Desktop/webpack/courseware/webpack_docs/node_modules/vuepress-plugin-sass-palette/styles/default/palette.scss";
@import "file:///C:/Users/86176/Desktop/webpack/courseware/webpack_docs/node_modules/vuepress-plugin-sass-palette/styles/default/config.scss";
@import "file:///C:/Users/86176/Desktop/webpack/courseware/webpack_docs/node_modules/vuepress-plugin-sass-palette/styles/empty.scss";
@import "file:///C:/Users/86176/Desktop/webpack/courseware/webpack_docs/node_modules/vuepress-plugin-sass-palette/styles/empty.scss";
@import "file:///C:/Users/86176/Desktop/webpack/courseware/webpack_docs/node_modules/vuepress-plugin-sass-palette/styles/empty.scss";
