// out: false, main: index.less

@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #494d55;
}

a:link {
  text-decoration: none;
}

