.box1 {
    width: 100px;
    height: 100px;
    background-image: url("../images/1.jpeg");
  }
  
  .box2 {
    width: 100px;
    height: 100px;
    background-image: url("../images/2.png");
  }
  
  .box3 {
    width: 100px;
    height: 100px;
    background-image: url("../images/3.gif");
  }
  