@charset "utf-8";
* {
  box-sizing: border-box;
}
body {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #494d55;
}
a:link {
  text-decoration: none;
}
.header {
  height: 60px;
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 19;
  transition: padding-top 0.5s;
}
.header .logo {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/logo.png) no-repeat center;
  font-size: 0;
}
.header .navbar {
  position: static;
  margin-bottom: 0;
  border: 0;
}
.header .navbar .navbar-header {
  margin-top: 4px;
}
.header .navbar .navbar-header button {
  margin-right: 0;
}
.header .navbar .icon-bar {
  height: 3px;
  background-color: #fff;
  margin-top: 4px;
}
.header .navbar .icon-bar:first-child {
  margin-top: 0;
}
.header .navbar .nav {
  margin-top: 6px;
}
.header .navbar li + li {
  margin-left: 20px;
}
.header .navbar a {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}
.header .navbar a:link,
.header .navbar a:visited {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.header .navbar a:hover,
.header .navbar a:active {
  color: #f2b535;
  background-color: transparent;
}
.header .navbar .hot {
  background-image: linear-gradient(to right, #cddc39, #ff9800 25%, #cddc39 50%, #ff9800 75%, #cddc39);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.header .navbar .hot:before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 15px;
  background-image: url(../images/fire.png);
  background-size: 100% 100%;
  position: relative;
  top: 2px;
  right: 2px;
}
.header.scrolled {
  background-color: #26282c;
  padding-top: 0;
}
.header.scrolled .active a {
  border-bottom: 4px solid #f2b535;
}
.carousel .carousel-indicators {
  bottom: 15px;
}
.carousel .carousel-indicators li {
  width: 50px;
  height: 4px;
  border: 0;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}
.carousel .carousel-indicators li.active {
  height: 4px;
  background-color: rgba(255, 255, 255);
}
.carousel .carousel-indicators li:hover {
  transform: scale(1.1);
}
.carousel .item {
  height: 500px;
  background: #175aa0 50%;
  background-size: cover;
}
.carousel .item:nth-child(1) {
  background-image: url(../uploads/banner_1.jpg);
}
.carousel .item:nth-child(2) {
  background-image: url(../uploads/banner_2.jpg);
}
.carousel .item:nth-child(3) {
  background-image: url(../uploads/banner_3.jpg);
}
.carousel .item:nth-child(4) {
  background-image: url(../uploads/banner_4.jpg);
}
.carousel .item .hire-info {
  position: relative;
  height: 100%;
  font-family: STXihei,华文细黑,Microsoft YaHei,微软雅黑;
}
.carousel .item .hire-info .hire-name {
  position: absolute;
  bottom: 160px;
  right: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transform: translate(100%);
}
.carousel .item .hire-info .hire-title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 50px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transform: translate(-100%);
}
.carousel .item .item-info {
  color: #fff;
  text-align: center;
  padding-top: 180px;
  height: 100%;
  overflow: hidden;
}
.carousel .item .item-info .title-name {
  font-size: 60px;
  letter-spacing: 7px;
  padding-bottom: 20px;
  opacity: 0;
  transform: translate(0, -200%);
}
.carousel .item .item-info .title-desc {
  font-size: 34px;
  letter-spacing: 5px;
  opacity: 0;
  transform: translate(0, 200%);
}
.carousel .item .item-info.special .title-name {
  font-size: 70px;
  letter-spacing: normal;
}
.carousel .item .item-info.special .title-desc {
  font-size: 40px;
}
.carousel .item.done.active .hire-title,
.carousel .item.done.active .hire-name,
.carousel .item.done.active .title-name,
.carousel .item.done.active .title-desc {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.4s ease-in;
}
.section {
  padding-bottom: 40px;
}
.section .items {
  margin-top: 20px;
}
.section .title {
  text-align: center;
  line-height: 2em;
}
.section .title small {
  display: block;
  font-size: 16px;
  line-height: 2em;
  color: #919191;
  font-weight: 500;
}
.section .more {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.section .more a {
  display: block;
  padding: 10px 16px;
  line-height: 1;
  font-size: 14px;
  border-radius: 6px;
  color: #616161;
  background-color: #e1e1e1;
  border: 1px solid #ccc;
}
.section .more a:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.project {
  margin-top: 40px;
}
.project .items a {
  display: block;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  top: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.project .items a:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform: skew(-25deg);
  position: absolute;
  left: -110%;
  top: 0;
}
.project .items a:hover {
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
  top: -6px;
}
.project .items a:hover:after {
  left: 110%;
  transition: all 0.3s ease;
}
.project .items img {
  height: 60px;
}
.project .omi {
  background-color: #70c3ff;
}
.project .omi {
  background-color: #70c3ff;
}
.project .alloyimage {
  background-color: #fd6a7f;
}
.project .alloytouch {
  background-color: #7f8ea0;
}
.project .soda {
  background-color: #89d04f;
}
.product .item {
  display: block;
  border-radius: 4px;
  border: 1px solid #e4ecf3;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.product .item:hover {
  transform: translate(0, -6px);
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
}
.product .item:hover img {
  transform: scale(1.2);
}
.product .img-wrap {
  overflow: hidden;
}
.product img {
  width: 100%;
  transition: all 0.3s ease;
}
.product p {
  text-align: center;
  margin: 10px;
  font-size: 14px;
  color: #313131;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog .inner {
  min-height: 325px;
  padding: 0 10px;
  border: 1px solid #e4ecf3;
  border-radius: 4px;
  margin-bottom: 10px;
}
.blog h3 {
  line-height: 1.1;
  padding: 15px 0;
  margin: 0;
  font-size: 16px;
  color: #616161;
  border-bottom: 1px solid #f5f5f5;
}
.blog h3 a {
  color: #337ab7;
}
.blog h3 a:hover {
  color: #f2b535;
}
.blog ul {
  padding: 15px 0 0 5px;
  margin: 0;
}
.blog ul li {
  margin-bottom: 35px;
}
.blog ul a {
  display: flex;
  line-height: 1;
  justify-content: space-between;
  align-items: center;
}
.blog ul h5 {
  flex: 1;
  font-size: 16px;
  margin: 0;
}
.blog ul span {
  display: block;
  width: 80px;
  margin-left: 10px;
}
.blog ul h5,
.blog ul span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.blog ul a {
  color: #616161;
}
.blog ul a:hover h5 {
  color: #f2b535;
}
.blog .type {
  padding: 0 10px 10px 0;
  margin: 10px 0;
  overflow: hidden;
}
.blog .name {
  font-size: 16px;
  color: #333;
  margin: 10px 0 0;
}
.blog .name:hover {
  color: #f2b535;
  cursor: pointer;
}
.blog .brief {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #c1c1c1;
}
.blog img {
  width: 60px;
  height: 60px;
  margin-right: 5px;
  float: left;
}
.stars .profile {
  border: 1px solid #e4ecf3;
  border-radius: 4px;
  text-align: center;
  padding: 20px 10px 0;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  background-color: #f5f8fa;
}
.stars .profile:hover {
  transform: translateY(-6px);
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
}
.stars .img-wrap {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.stars .img-wrap img {
  width: 100%;
}
.stars h5 {
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
  margin: 20px 0 10px;
}
.stars p {
  height: 60px;
  line-height: 60px;
  color: #919191;
  margin: 20px -10px 0 -10px;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer {
  padding: 30px 0;
  background-color: #26282c;
  color: rgba(255, 255, 255, 0.4);
}
.footer .logo {
  margin-top: 10px;
}
.footer .slogan {
  font-size: 16px;
  margin: 20px 0 0;
}
.footer .copyright {
  margin: 40px 0 0;
}
.footer .title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.footer a {
  display: block;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}
.footer a:hover {
  text-decoration: underline;
  color: #f2b535;
}
.footer .social {
  margin-top: 25px;
  padding: 0 2px;
  text-align: center;
  font-size: 12px;
}
.footer .social img {
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .header {
    height: 80px;
  }
  .header.scrolled {
    height: 60px;
  }
  .header.scrolled .navbar-collapse {
    top: 60px;
  }
  .header .navbar-collapse {
    width: 100%;
    border-top: 0;
    box-shadow: none;
    padding-top: 10px;
    background-color: #26282c;
    position: absolute;
    top: 80px;
    left: 0;
  }
  .header .nav {
    width: 100%;
    text-align: center;
  }
  .header li {
    margin-left: 0 !important;
  }
  .header .active a {
    border: none !important;
  }
  .carousel .item {
    height: 400px;
  }
  .carousel .hire-info p {
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
  }
  .carousel .item-info {
    padding-top: 120px !important;
  }
  .footer .webmeta {
    text-align: center;
  }
  .footer .copyright {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .carousel .carousel-indicators li {
    width: 30px !important;
  }
  .carousel .item {
    height: 250px;
  }
  .carousel .hire-name {
    font-size: 30px !important;
    line-height: 40px !important;
    bottom: 40px !important;
  }
  .carousel .hire-title {
    display: none;
  }
  .carousel .item-info {
    padding-top: 85px !important;
  }
  .carousel .item-info .title-name {
    padding-bottom: 0 !important;
    font-size: 35px !important;
  }
  .carousel .item-info .title-desc {
    font-size: 20px !important;
  }
  .carousel .item-info.special .title-name {
    font-size: 50px;
  }
  .carousel .item-info.special .title-desc {
    font-size: 25px;
  }
}
