@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    /* 自定义的属性值 */
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    /* 灰色背景 */
    /* 高度为视口高度 */
    height: 100vh;
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress_container {
    /*  */
    display: flex;
    /* space-between 开始的元素至于开始的位置，结束的元素放置于末尾的部分 均匀分布 */
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress_container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    /* 居中 */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    /* 蓝色的进度条 */
    content: '';
    background-color: var(--line-border-fill);
    position: absolute;
    /* 居中 */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    /* z-index优先级小于圆圈的优先级 */
    z-index: -1;
    transition: 0.4s ease;
}

/* 设置圆圈 */
.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn .active {
    transform: scale(0.98);
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
  }
